

.carousel-caption {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000;
}

.carousel-item {
	height: 600px; /* adjust this as necessary */
}
.carousel-item img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.navbar{
	list-style-type: none;
	background-color: #333;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbarObject{
	float: left;
}

.navbarObjectRight{
	float:right;
}

.navbarButton{
	display: block;
	color: white;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

.navbarObject:hover{
	background-color: #888;
}

.navbarObjectRight:hover{
	background-color: #888;
}

h1{
	background-color:black;
	color:white;
}

.product-grid-item__slide {
    left: 0;
    bottom: 0;
    z-index: 5;
}
